@model IEnumerable<dynamic>
@foreach (dynamic obj in Model)
{
    if (obj.Products != null && obj.Products.Count > 0)
    {
        <div id="product">
            <h1>@obj.Title</h1>
            <div class="product_content">
                @foreach (Product item in obj.Products)
                {
                    <div class="product_item">
                        <img src="/products/@item.ImageUrl" alt="@item.Name">
                        <div class="item_title">
                            <h4 class="title"><a href="/home/details/@item.Id">@item.Name</a></h4>
                            <p class="title">@item.Singer</p>
                        </div>
                        <div class="love">
                            <form action="/library/add" method="post">
                                <input type="" name="productId" value="@item.Id" hidden />
                                <button><i class="fa fa-heart" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}